body {
    width:100%;
    height:100%;
    margin: 0px;
    background-color: gray;
}

.niceButton {
    font-family:'Courier New', Courier, monospace;
    border-radius: 10%;
    background-image: radial-gradient(center, tan, brown);
}